@tailwind base;
@tailwind components;
@tailwind utilities;

.recharts-cartesian-grid line {
  stroke: #e2e8f0;
}
.dark .recharts-cartesian-grid line {
  stroke: #334155;
}
.recharts-cartesian-axis-tick text {
  fill: #64748b;
  font-size: 12px;
}
.recharts-legend-item-text {
  color: #475569 !important;
}
.dark .recharts-legend-item-text {
  color: #94a3b8 !important;
}
